<div class="drawer-rail">
  <div class="rail-inner">
    <a class="rail-brand" href="/index.html">LIB<span>.</span>CATALOG</a>
    <a class="tab" data-page="home" href="/index.html"><b>01</b> HOME</a>
    <a class="tab" data-page="resources" href="/resources.html"><b>02</b> RESOURCE LIBRARY</a>
    <a class="tab" data-page="ai-literacy" href="/ai-literacy.html"><b>03</b> AI LITERACY</a>
    <a class="tab" data-page="programme" href="/programme.html"><b>04</b> IB PROGRAMME</a>
    <a class="tab" data-page="tools" href="/tools.html"><b>05</b> TOOLS</a>
    <a class="tab" data-page="collab" href="/collaboration.html"><b>06</b> CO-TEACHING</a>
    <a class="tab" data-page="reading" href="/reading-culture.html"><b>07</b> READING CULTURE</a>
    <a class="tab" data-page="network" href="/network.html"><b>08</b> NETWORK</a>
    <a class="tab" data-page="impact" href="/impact.html"><b>09</b> IMPACT</a>
    <a class="tab" data-page="about" href="/about.html">ABOUT</a>
  </div>
</div>
